
.register{
    .brand-home{
        width: 50%;
        margin-top: 2rem;
        position: fixed;
    }

    input[type="checkbox"].styled:checked + label:after,
    input[type="radio"].styled:checked + label:after,
    .checkbox input[type=checkbox]:checked + label:after {
        content: "\e013";
    }

    input[type="checkbox"].styled:checked label:after,
    input[type="radio"].styled:checked label:after,
    .checkbox label:after {
        padding-left: 4px;
        padding-top: 2px;
        font-size: 9px;
    }

    .is-invalid{
        border-color: red;
    }
    .box{
       float: right;

       h3{
            margin-top: 0;
        }

        ul{
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            padding: 0;

            li{
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-flex-direction: column;
                -ms-flex-direction: column;
                flex-direction: column;
                flex-wrap: wrap;
                margin: .5rem 1rem;

                input[type='checkbox']{
                    margin-right: 5px;
                }
            }
        }

        .button-align{
            position: relative;
            text-align: right;
            margin-right: 1rem;
        }
    }
}
