<div class="register">
    <img class="brand-home" src="../../../../assets/images/brand.png">

    <div class="box col-sm-5">
        <box-container>
            <form #f="ngForm" novalidate (ngSubmit)="login(f)">
                <h3 class="text-center">LOGIN</h3>
                <div *ngIf="f.submitted && errors" class="validation-error">
                    Ocurrio un error al intentar logearse, por favor verifique nuevamente.
                </div>
                <ul>
                    <li>
                        <span>Email</span><input type="email" required name="userEmail" class="form-control input-custom" #userEmail="ngModel" [(ngModel)]="mail" [ngClass]="{ 'is-invalid': f.submitted && (userEmail.invalid || mailInvalid) }" >
                        <div *ngIf="f.submitted && (userEmail.invalid || mailInvalid)" class="invalid-feedback">
                            <div *ngIf="userEmail.errors && userEmail.errors.required">- Email is required</div>
                            <div *ngIf="!(userEmail.errors && userEmail.errors.required)">- Please verify email</div>
                        </div>
                    </li>
                    <li>
                        <span>Contraseña</span><input type="password" required name="ps" class="form-control input-custom" #ps="ngModel" [(ngModel)]="password" [ngClass]="{ 'is-invalid': f.submitted && ps.invalid }">
                        <div *ngIf="f.submitted && ps.invalid" class="invalid-feedback">
                            <div *ngIf="ps.errors.required">- Password required</div>
                        </div>
                    </li>
                    <li>
                        <div >
                            <input type="checkbox" class="custom-checkbox" [(ngModel)]="remember" name="rembmerme">
                            <label>Remember me</label>
                        </div>
                    </li>
                </ul>
                <div class="button-align">
                    <button type="submit" class="btn btn-secondary">Sign in</button>
                </div>
            </form>
        </box-container>
    </div>
</div>