<div class="register">
    <img class="brand-home" src="../../../../assets/images/brand.png">

    <div class="box col-sm-5">
        <box-container>
            <form #f="ngForm" novalidate (ngSubmit)="login(f)">
                <h3 class="text-center">LOGIN</h3>
                <div *ngIf="f.submitted && errors" class="validation-error">
                    Ocurrio un error al intentar logearse:
                    <p>{{errors}}</p>
                </div>
                <ul>
                    <li>
                        <span>Email</span>
                        <input type="email" required name="userEmail" class="form-control input-custom" #userEmail="ngModel" [(ngModel)]="mail" [ngClass]="{ 'is-invalid': f.submitted && (userEmail.invalid || mailInvalid) }" >
                        <div *ngIf="f.submitted && (userEmail.invalid || mailInvalid)" class="invalid-feedback">
                            <div *ngIf="userEmail.errors && userEmail.errors.required">- Email es requerido</div>
                            <div *ngIf="!(userEmail.errors && userEmail.errors.required)">- Verificar email</div>
                        </div>
                    </li>
                    <li>
                        <span>Contraseña</span>
                        <input autocomplete='current-password' type="password" required name="ps" class="form-control input-custom" #ps="ngModel" [(ngModel)]="password" [ngClass]="{ 'is-invalid': f.submitted && ps.invalid }">
                        <div *ngIf="f.submitted && ps.invalid" class="invalid-feedback">
                            <div *ngIf="ps.errors.required">- Contraseña requerida</div>
                        </div>
                    </li>
                    <li>
                        <span>Recordarme</span>
                        <label class="container-check">
                            <input type="checkbox" class="custom-checkbox" [(ngModel)]="remember" name="rembmerme">
                            <span class="checkmark"></span>
                        </label>
                    </li>
                </ul>
                <div class="button-align">
                    <button type="submit" class="btn btn-secondary">Acceder</button>
                </div>
            </form>
        </box-container>
    </div>
</div>