<div class="register">
    <img class="brand-home" src="../../../../../wwwroot/images/brand.png">

    <div class="box col-sm-5">
        <box-container>
            <form #f="ngForm" novalidate (ngSubmit)="login(f)">
                <h3 class="text-center">LOGIN</h3>
                <ul>
                    <li>
                        <span>Email</span><input type="email" required name="userEmail" class="form-control input-custom" #userEmail="ngModel" [(ngModel)]="mail" [ngClass]="{ 'is-invalid': f.submitted && userEmail.invalid }" >
                        <div *ngIf="f.submitted && userEmail.invalid" class="invalid-feedback">
                            <div *ngIf="userEmail.errors.required">- Email is required</div>
                        </div>
                    </li>
                    <li>
                        <span>Contraseña</span><input type="password" required name="pass" class="input-custom" #pass="ngModel" [(ngModel)]="password" [ngClass]="{ 'is-invalid': f.submitted && pass.invalid }">
                        <div *ngIf="f.submitted && pass.invalid" class="invalid-feedback">
                            <div *ngIf="pass.errors.required">- Password required</div>
                        </div>
                    </li>
                    <li>
                        <div >
                            <input type="checkbox" class="custom-checkbox" [(ngModel)]="remember" name="rembmerme">
                            <label>Remember me</label>
                        </div>
                        <!--<span><input type="checkbox" class="checkbox-circle" aria-label="Single checkbox One" [(ngModel)]="remember" name="rembmerme">Remember me</span>-->
                    </li>
                </ul>
                <div class="button-align">
                    <button type="submit" class="btn btn-secondary">Sign in</button>
                </div>
            </form>
        </box-container>
    </div>
</div>