.register{
    .brand-home{
        width: 50%;
        margin-top: 10rem;
        position: fixed;
    }

    .box{
       float: right;

       h3{
            margin-top: 0;
        }

        ul{
            display: flex;
            flex-direction: column;
            padding: 0;

            li{
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                margin: 1rem;
            }
        }

        .button-align{
            position: relative;
            text-align: right;
            margin-right: 1rem;
        }
    }
}