<div class="register">
    <img class="brand-home" src="../../../../../wwwroot/images/brand.png">

    <div class="box col-sm-5">
        <box-container>
            <h3 class="text-center">LOGIN</h3>
            <ul>
                <li><span>Email</span><input type="email" class="input-custom"></li>
                <li><span>Contraseña</span><input type="password" class="input-custom"></li>
            </ul>
            <div class="button-align">
                <button type="submit" class="btn btn-outline btn-secondary">Sign in</button>
            </div>
            
        </box-container>
    </div>
    
</div>