<div class='main-nav'>
    <div class="navbar navbar-expand-sm navbar-inverse"><!--<div class='navbar navbar-inverse fixed-top'>-->
        <a class="navbar-brand" href="#">
            <img src="../../../assets/images/brand.png"/>
        </a>
        <button type='button' class='navbar-toggler' data-toggle='collapse' data-target='.navbar-collapse'>
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class='collapse navbar-collapse custom-header'>
            <ul class='navbar-nav'>
                <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="!isSignedIn">
                    <a [routerLink]="['/register']">
                        Registrarse
                    </a>
                </li>
                <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="!isSignedIn">
                    <a [routerLink]="['/login']">
                        Login
                    </a>
                </li>
                <!-->li class="nav-item dropdown" *ngIf="isSignedIn" [routerLinkActive]="['link-active']" disabled>
                    <a class="dropdown-item" [routerLink]="['/patients']">Pacientes</a>
                </li>-->
                <li class="nav-item dropdown" *ngIf="isSignedIn" [routerLinkActive]="['link-active']">
                    <a class="dropdown-item" [routerLink]="['/orthodontics']">Ortodoncia</a>
                </li>
                <li class="nav-item dropdown" *ngIf="isSignedIn">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Hi, {{username}}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <!--<div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>-->
                        <a class="dropdown-item" href="#" (click)="logout($event)">Sign out</a>
                    </div>
                </li>
            </ul>
        </div>        
        <div class='clearfix'></div>
    </div>
    <hr>
</div>
