.profile{
    .box{
       margin: 1rem auto;

       h3{
            margin-top: 0;
        }

        ul{
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            padding: 0;

            li{
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-flex-direction: column;
                -ms-flex-direction: column;
                flex-direction: column;
                flex-wrap: wrap;
                margin: .5rem 1rem;
            }
        }

        .button-align{
            position: relative;
            text-align: right;
            margin-right: 1rem;
        }
    }
}