<footer>
    <div class="footer-component text-center">
        <!--
        <ul class="list-inline social-list">
            <li><a target="_blank" href="#" class="list-group-item"><i class="twitter"></i></a></li>
            <li><a target="_blank" href="#" class="list-group-item"><i class="facebook"></i></a></li>
            <li><a target="_blank" href="#" class="list-group-item"><i class="linkedin"></i></a></li>
           
        </ul>
        <ul class="list-inline last-ul">
            <li class="list-group-item"><a (click)="goToTerms()">Terminos y Condiciones</a></li>
        </ul>
        <div class="fs-16 fwg-500 tc-darkGray">&copy; Haenggi - Calibre digital</div>
        -->
        <a class="logo-left" [routerLink]="['/home']"><img src="../../../../wwwroot/images/logo-title.png"></a>
    </div>
</footer>