@media screen and (max-width: 500px) /* Mobile */{
    .last-ul {
        display: flex !important;
        display: -webkit-flex !important;
        flex-direction: column;
        -webkit-flex-direction: column;
    }
}
.list-group-item{
    background-color: inherit;
    border:none;
}
ul {
    padding:0 !important;
    list-style: none;
}

footer{
    left:0;
    right: 0;
    bottom: 0;
    margin: 0 -15px;
    background-color: #fff;
    border-top: solid 1px #e7e7e7;
    color: #3f3f3f!important;
}
.footer-component{
    bottom: 0;
    -webkit-font-smoothing: antialiased;
    padding-bottom: 1em;
}

.social-list{
    padding-top: .5rem !important;
    margin-bottom: 0;
}
.social-list li .list-group-item{
    padding: 10px 0px;
}
.social-list li .list-group-item:hover{
    background-color: transparent;
}
.facebook {
    padding:10px 20px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    opacity: 0.6;
    
    background: url("/images/social/facebook.png") no-repeat center center;
}
.facebook:hover {
    opacity: 1;
}
.twitter {
    padding:10px 20px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    opacity: 0.6;
    
    background: url("/images/social/twitter.png") no-repeat center center;
}
.twitter:hover {
    opacity: 1;
}
.linkedin {
    padding:10px 20px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    opacity: 0.6;
    background: url("/images/social/linkedin.png") no-repeat center center;
}
.linkedin:hover {
    opacity: 1;
}