.mouse-section{
    margin: 0rem 15px 2rem 15px;
    padding: 2rem;

    .input-number{
        width: 70px;
    }

    .mouse-sup{
        margin: 4rem 0;
        min-height: 250px;

        .mouse-sup-left{
            background: url("/images/mouse/mouse-sup-left.png") no-repeat right top;
            min-height: 250px;
            //background-size: 25%;

            input.bottom-left{
                position: absolute;
                bottom: 10rem;
                right: 20rem;
            }
    
            input.center-left{
                position: absolute;
                bottom: 20rem;
                right: 15rem;
            }
    
            input.top-left{
                position: absolute;
                top: -4rem;
                right: 1rem;
            }
        }

        .mouse-sup-right{
            background: url("/images/mouse/mouse-sup-right.png") no-repeat left top;
            min-height: 250px;
            //background-size: 25%;

            input.bottom-right{
                position: absolute;
                bottom: 10rem;
                left: 20rem;
            }
    
            input.center-right{
                position: absolute;
                bottom: 20rem;
                left: 15rem;
            }
    
            input.top-right{
                position: absolute;
                top: -4rem;
                left: 1rem;
            }
        }
    }

    .mouse-inf{
        margin: -8rem 0 6rem 0;
        min-height: 250px;
        
        .mouse-inf-left{
            background: url("/images/mouse/mouse-inf-left.png") no-repeat right bottom;
            min-height: 250px;
            //background-size: 25%;

            input.bottom-left{
                position: absolute;
                bottom: -4rem;
                right: 1rem;
            }
    
            input.center-left{
                position: absolute;
                bottom: 0rem;
                right: 11rem;
            }
    
            input.top-left{
                position: absolute;
                top: 15rem;
                right: 20rem;
            }
        }

        .mouse-inf-right{
            background: url("/images/mouse/mouse-inf-right.png") no-repeat left bottom;
            min-height: 250px;
            //background-size: 25%;

            input.bottom-right{
                position: absolute;
                bottom: -4rem;
                left: 1rem;
            }
    
            input.center-right{
                position: absolute;
                bottom: 0rem;
                left: 11rem;
            }
    
            input.top-right{
                position: absolute;
                top: 15rem;
                left: 20rem;
            }
        }
    }
}