
<h1 i18n>Mediciones</h1>

<div class="row">
    <div class="col mouse-section">
        <div class="row mouse-sup">
                <div class="col-sm-6 mouse-sup-left">
                    <input type="number" class="input-number bottom-left"/>
                    <input type="number" class="input-number center-left" />
                    <input type="number" class="input-number top-left"/>
                </div>
                <div class="col-sm-6 mouse-sup-right">
                    <input type="number" class="input-number bottom-right"/>
                    <input type="number" class="input-number center-right" />
                    <input type="number" class="input-number top-right"/>
                </div>
        </div>
        <div class="row">
            <div class="col-sm-12 logo-center">
                    <img src="../../../../wwwroot/images/Logo.png">
            </div>
            
        </div>
        <div class="row mouse-inf">
                <div class="col-sm-6 mouse-inf-left">
                    <input type="number" class="input-number bottom-left"/>
                    <input type="number" class="input-number center-left" />
                    <input type="number" class="input-number top-left"/>
                </div>
                <div class="col-sm-6 mouse-inf-right">
                    <input type="number" class="input-number bottom-right"/>
                    <input type="number" class="input-number center-right" />
                    <input type="number" class="input-number top-right"/>
                </div>    
        </div>
    </div>
</div>