.pdf{
    
    .pdf-logo{
        //content: url("./assets/images/logo_black.png");
        height: 40px;
        width: 40px;
        margin: 0 10px; 
    }
    color:#3f3f3f;
    .header{
        margin: 1rem;
        .item-row{
            background-color: white;
            border: 1px solid #3f3f3f;
            padding: 1rem;
            &.title{
                background-color: rgb(44, 93, 152);
                color: white;
                text-align: center;
            }
        }
    }
    
    .grid-container{
        margin: 2rem;
        //border: 1px solid #3f3f3f;

        .grid-title{
            background-color: rgb(120, 164, 216);
            text-align: center;
            color: white;
        }
    
        .grid-row{
            background-color: white;

            &.alt{
                background-color: rgb(142, 180, 227);
            }
        }
    }
}