
<h1 i18n>Mediciones</h1>

<div class="row">
    <div class="col mouse-section">
        <box-container>
            <div class="row mouse-sup">
                    <div class="col-sm-6 mouse-sup-left">
                        <input type="number" class="input-number input-custom bottom-left"/>
                        <input type="number" class="input-number input-custom center-left" />
                        <input type="number" class="input-number input-custom top-left"/>
                    </div>
                    <div class="col-sm-6 mouse-sup-right">
                        <input type="number" class="input-number input-custom bottom-right"/>
                        <input type="number" class="input-number input-custom center-right" />
                        <input type="number" class="input-number input-custom top-right"/>
                    </div>
            </div>
            <div class="row mouse-inf">
                <div class="col-sm-6 mouse-inf-left">
                    <input type="number" class="input-number input-custom bottom-left"/>
                    <input type="number" class="input-number input-custom center-left" />
                    <input type="number" class="input-number input-custom top-left"/>
                </div>
                <div class="col-sm-6 mouse-inf-right">
                    <input type="number" class="input-number input-custom bottom-right"/>
                    <input type="number" class="input-number input-custom center-right" />
                    <input type="number" class="input-number input-custom top-right"/>
                </div>    
            </div>
        </box-container>
    </div>
</div>