<div class="row">
    <div class="col-sm-1" >
        <i class="fas fa-chevron-circle-left arrows arrow-left" (click)="decreaseStep($event)" *ngIf="step > 1"></i>
    </div>
    <div class="col-sm-10">
        <form #f="ngForm" novalidate (ngSubmit)="save(f)">
            <div class="row">
                <div class="col patient-section">
                    <div class="box-container">
                        <div class="patient-info">
                            <div><span>Paciente: </span><input type="text" required name="patientName" #patientName="ngModel" class="input-custom" [(ngModel)]="measures.patientName" [ngClass]="{ 'is-invalid': f.submitted && patientName.invalid }"/></div>
                            <div><span>N° HC: </span><input type="text" required name="hcNumber" #hcNumber="ngModel" class="input-custom" [(ngModel)]="measures.hcNumber" [ngClass]="{ 'is-invalid': f.submitted && hcNumber.invalid }"/></div>
                        </div>
                        <a (click)="goback();"><i class="fas fa-times-circle"></i>Cancelar</a>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="step <= 1">
                <div class="col teeth-section">
                    <box-container>
                        <div class="row teeth-sup"></div>
                        <div class="inputs-wrapper">
                            <div class="inputs-container">
                                <input type="number" class="input-number input-custom" required name="tooth17" #tooth17="ngModel" [(ngModel)]="measures.teeths.tooth17" [ngClass]="{ 'is-invalid': f.submitted && tooth17.invalid }"/>
                                <input type="number" class="input-number input-custom" required name="tooth16" #tooth16="ngModel" [(ngModel)]="measures.teeths.tooth16" [ngClass]="{ 'is-invalid': f.submitted && tooth16.invalid }"/>
                                <input type="number" class="input-number input-custom" required name="tooth15" #tooth15="ngModel" [(ngModel)]="measures.teeths.tooth15" [ngClass]="{ 'is-invalid': f.submitted && tooth15.invalid }"/>
                                <input type="number" class="input-number input-custom" required name="tooth14" #tooth14="ngModel" [(ngModel)]="measures.teeths.tooth14" [ngClass]="{ 'is-invalid': f.submitted && tooth14.invalid }"/>
                                <input type="number" class="input-number input-custom" required name="tooth13" #tooth13="ngModel" [(ngModel)]="measures.teeths.tooth13" [ngClass]="{ 'is-invalid': f.submitted && tooth13.invalid }"/>
                                <input type="number" class="input-number input-custom" required name="tooth12" #tooth12="ngModel" [(ngModel)]="measures.teeths.tooth12" [ngClass]="{ 'is-invalid': f.submitted && tooth12.invalid }"/>
                                <input type="number" class="input-number input-custom" required name="tooth11" #tooth11="ngModel" [(ngModel)]="measures.teeths.tooth11" [ngClass]="{ 'is-invalid': f.submitted && tooth11.invalid }"/>
                                <input type="number" class="input-number input-custom" required name="tooth21" #tooth21="ngModel" [(ngModel)]="measures.teeths.tooth21" [ngClass]="{ 'is-invalid': f.submitted && tooth21.invalid }"/>
                                <input type="number" class="input-number input-custom" required name="tooth22" #tooth22="ngModel" [(ngModel)]="measures.teeths.tooth22" [ngClass]="{ 'is-invalid': f.submitted && tooth22.invalid }"/>
                                <input type="number" class="input-number input-custom" required name="tooth23" #tooth23="ngModel" [(ngModel)]="measures.teeths.tooth23" [ngClass]="{ 'is-invalid': f.submitted && tooth23.invalid }"/>
                                <input type="number" class="input-number input-custom" required name="tooth24" #tooth24="ngModel" [(ngModel)]="measures.teeths.tooth24" [ngClass]="{ 'is-invalid': f.submitted && tooth24.invalid }"/>
                                <input type="number" class="input-number input-custom" required name="tooth25" #tooth25="ngModel" [(ngModel)]="measures.teeths.tooth25" [ngClass]="{ 'is-invalid': f.submitted && tooth25.invalid }"/>
                                <input type="number" class="input-number input-custom" required name="tooth26" #tooth26="ngModel" [(ngModel)]="measures.teeths.tooth26" [ngClass]="{ 'is-invalid': f.submitted && tooth26.invalid }"/>
                                <input type="number" class="input-number input-custom" required name="tooth27" #tooth27="ngModel" [(ngModel)]="measures.teeths.tooth27" [ngClass]="{ 'is-invalid': f.submitted && tooth27.invalid }"/>
                            </div>
                        </div>
                        <div class="inputs-wrapper">
                            <div class="inputs-container">
                                <input type="number" class="input-number input-custom" required name="tooth47" #tooth47="ngModel" [(ngModel)]="measures.teeths.tooth47" [ngClass]="{ 'is-invalid': f.submitted && tooth47.invalid }"/>
                                <input type="number" class="input-number input-custom" required name="tooth46" #tooth46="ngModel" [(ngModel)]="measures.teeths.tooth46" [ngClass]="{ 'is-invalid': f.submitted && tooth46.invalid }"/>
                                <input type="number" class="input-number input-custom" required name="tooth45" #tooth45="ngModel" [(ngModel)]="measures.teeths.tooth45" [ngClass]="{ 'is-invalid': f.submitted && tooth45.invalid }"/>
                                <input type="number" class="input-number input-custom" required name="tooth44" #tooth44="ngModel" [(ngModel)]="measures.teeths.tooth44" [ngClass]="{ 'is-invalid': f.submitted && tooth44.invalid }"/>
                                <input type="number" class="input-number input-custom" required name="tooth43" #tooth43="ngModel" [(ngModel)]="measures.teeths.tooth43" [ngClass]="{ 'is-invalid': f.submitted && tooth43.invalid }"/>
                                <input type="number" class="input-number input-custom" required name="tooth42" #tooth42="ngModel" [(ngModel)]="measures.teeths.tooth42" [ngClass]="{ 'is-invalid': f.submitted && tooth42.invalid }"/>
                                <input type="number" class="input-number input-custom" required name="tooth41" #tooth41="ngModel" [(ngModel)]="measures.teeths.tooth41" [ngClass]="{ 'is-invalid': f.submitted && tooth41.invalid }"/>
                                <input type="number" class="input-number input-custom" required name="tooth31" #tooth31="ngModel" [(ngModel)]="measures.teeths.tooth31" [ngClass]="{ 'is-invalid': f.submitted && tooth31.invalid }"/>
                                <input type="number" class="input-number input-custom" required name="tooth32" #tooth32="ngModel" [(ngModel)]="measures.teeths.tooth32" [ngClass]="{ 'is-invalid': f.submitted && tooth32.invalid }"/>
                                <input type="number" class="input-number input-custom" required name="tooth33" #tooth33="ngModel" [(ngModel)]="measures.teeths.tooth33" [ngClass]="{ 'is-invalid': f.submitted && tooth33.invalid }"/>
                                <input type="number" class="input-number input-custom" required name="tooth34" #tooth34="ngModel" [(ngModel)]="measures.teeths.tooth34" [ngClass]="{ 'is-invalid': f.submitted && tooth34.invalid }"/>
                                <input type="number" class="input-number input-custom" required name="tooth35" #tooth35="ngModel" [(ngModel)]="measures.teeths.tooth35" [ngClass]="{ 'is-invalid': f.submitted && tooth35.invalid }"/>
                                <input type="number" class="input-number input-custom" required name="tooth36" #tooth36="ngModel" [(ngModel)]="measures.teeths.tooth36" [ngClass]="{ 'is-invalid': f.submitted && tooth36.invalid }"/>
                                <input type="number" class="input-number input-custom" required name="tooth37" #tooth37="ngModel" [(ngModel)]="measures.teeths.tooth37" [ngClass]="{ 'is-invalid': f.submitted && tooth37.invalid }"/>
                            </div>
                        </div>
                        <div class="row teeth-inf"></div>
                    </box-container>
                </div>
            </div>
            <div class="row" *ngIf="step > 1">
                <div class="col mouse-section">
                    <box-container>
                        <div class="row mouse-sup">
                                <div class="col-sm-6 mouse-sup-left">
                                    <input type="number" class="input-number input-custom bottom-left" required name="leftSuperiorPremolar" [(ngModel)]="measures.mouth.leftSuperiorPremolar" #leftSuperiorPremolar="ngModel" [ngClass]="{ 'is-invalid': f.submitted && leftSuperiorPremolar.invalid }"/>
                                    <input type="number" class="input-number input-custom center-left" required name="leftSuperiorCanine" [(ngModel)]="measures.mouth.leftSuperiorCanine" #leftSuperiorCanine="ngModel" [ngClass]="{ 'is-invalid': f.submitted && leftSuperiorCanine.invalid }"/>
                                    <input type="number" class="input-number input-custom top-left" required name="leftSuperiorIncisive" [(ngModel)]="measures.mouth.leftSuperiorIncisive" #leftSuperiorIncisive="ngModel" [ngClass]="{ 'is-invalid': f.submitted && leftSuperiorIncisive.invalid }"/>
                                </div>
                                <div class="col-sm-6 mouse-sup-right">
                                    <input type="number" class="input-number input-custom top-right" required name="rightSuperiorIncisive" [(ngModel)]="measures.mouth.rightSuperiorIncisive" #rightSuperiorIncisive="ngModel" [ngClass]="{ 'is-invalid': f.submitted && rightSuperiorIncisive.invalid }"/>
                                    <input type="number" class="input-number input-custom center-right" required name="rightSuperiorCanine" required [(ngModel)]="measures.mouth.rightSuperiorCanine" #rightSuperiorCanine="ngModel" [ngClass]="{ 'is-invalid': f.submitted && rightSuperiorCanine.invalid }"/>
                                    <input type="number" class="input-number input-custom bottom-right" required name="rightSuperiorPremolar" [(ngModel)]="measures.mouth.rightSuperiorPremolar" #rightSuperiorPremolar="ngModel" [ngClass]="{ 'is-invalid': f.submitted && rightSuperiorPremolar.invalid }"/>
                                </div>
                        </div>
                        <div class="row mouse-inf">
                            <div class="col-sm-6 mouse-inf-left">
                                <input type="number" class="input-number input-custom top-left" required name="leftInferiorPremolar" [(ngModel)]="measures.mouth.leftInferiorPremolar" #leftInferiorPremolar="ngModel" [ngClass]="{ 'is-invalid': f.submitted && leftInferiorPremolar.invalid }"/>
                                <input type="number" class="input-number input-custom center-left" required name="leftInferiorCanine" [(ngModel)]="measures.mouth.leftInferiorCanine" #leftInferiorCanine="ngModel" [ngClass]="{ 'is-invalid': f.submitted && leftInferiorCanine.invalid }"/>
                                <input type="number" class="input-number input-custom bottom-left" required name="leftInferiorIncisive" [(ngModel)]="measures.mouth.leftInferiorIncisive" #leftInferiorIncisive="ngModel" [ngClass]="{ 'is-invalid': f.submitted && leftInferiorIncisive.invalid }"/>
                                
                            </div>
                            <div class="col-sm-6 mouse-inf-right">
                                <input type="number" class="input-number input-custom bottom-right" required name="rightInferiorIncisive"[(ngModel)]="measures.mouth.rightInferiorIncisive" #rightInferiorIncisive="ngModel" [ngClass]="{ 'is-invalid': f.submitted && rightInferiorIncisive.invalid }"/>
                                <input type="number" class="input-number input-custom center-right" required name="rightInferiorCanine" [(ngModel)]="measures.mouth.rightInferiorCanine" #rightInferiorCanine="ngModel" [ngClass]="{ 'is-invalid': f.submitted && rightInferiorCanine.invalid }"/>
                                <input type="number" class="input-number input-custom top-right" required name="rightInferiorPremolar" [(ngModel)]="measures.mouth.rightInferiorPremolar" #rightInferiorPremolar="ngModel" [ngClass]="{ 'is-invalid': f.submitted && rightInferiorPremolar.invalid }"/>
                            </div>    
                        </div>
                    </box-container>
                    <div class="button-align">
                        <button type="submit" class="btn btn-secondary">Save and continue</button>
                    </div>
                </div>
                
            </div>
        </form>
    </div>
    <div class="col-sm-1">
        <i class="fas fa-chevron-circle-right arrows arrow-right" (click)="increaseStep($event)" *ngIf="step <= 1"></i>
    </div>
</div>