box-container{
    margin: 2rem;
}

.disabled{
    opacity: .6;
    cursor: default !important;
}

i.arrows{
    font-size: 4rem;
    position: absolute;
    top: 50%;
    cursor: pointer;

    &.arrow-left{
        right: 0;
    }
    &.arrow-right{
        left: 0;
    }

    &:hover{
        transform: scale(1.2);
        opacity: .8;
        transition: all .1s ease-in-out;
    }
}

.input-number{
    width: 50px;
    height: 35px;
    margin-right: 6px;
    font-size: 12px;
}

.patient-section{
    a{margin: auto;}
    .box-container{
        padding: 1rem 0rem;
        display: flex;
        margin: 0 auto;
    }
    .patient-info{
        display: flex;
        flex-direction: row;
        margin: auto;

        div{
            margin: 5px;
            display: inherit;
            span{
                margin: 5px 10px;
                vertical-align: middle;
                text-align: center;
            }
    
            input{
                float: right;
            }
        }
        
    }
}

.teeth-section{
    .theeth-individual{
        position: relative;
        display: flex;
        margin: 1rem auto;

        ul{
            display: flex;
            flex-direction: row;
            margin: 0 auto;
            -webkit-padding-start: 0;

            li{
                display: flex;
                flex-direction: column;

                min-height: 110px;
                width: 50px;
                position: relative;
                margin: .5rem 5px;
                display: inline-block;

                i{
                    background: url("../../../../assets/images/mouse/theeths_sprites-ltr.png");
                    background-size: cover;
                    min-height: 110px;
                    width: 50px;
                    display: inline-block;
                }

                input[type="number"]{
                    display: block;
                    margin-top: -1.4rem;
                }

                &:nth-child(14n+1)  > i {
                    background-position: -704px 15px;
                }
    
                &:nth-child(14n+2) > i {
                    background-position: -750px 10px;
                }

                &:nth-child(14n+3)  > i{
                    background-position: -238px 10px;
                    max-width: 38px;
                    margin-left: 5px;
                }

                &:nth-child(14n+4)  > i{
                    background-position: -205px 10px;
                    max-width: 38px;
                    margin-left: 5px;
                }

                &:nth-child(14n+5) > i {
                    background-position: -624px -4px;
                    max-width: 38px;
                }

                &:nth-child(14n+6) > i {
                    background-position: -109px 10px;
                    max-width: 38px;
                    margin-left: 5px;
                }

                &:nth-child(14n+7)  > i{
                    background-position: -370px 0px;
                    max-width: 38px;
                    margin-left: 5px;
                }

                &:nth-child(14n+8) > i {
                    background-position: -405px 0px;
                    max-width: 38px;
                    margin-left: 5px;
                }
                &:nth-child(14n+9) > i {
                    background-position: -140px 10px;
                    max-width: 38px;
                    margin-left: 5px;
                }
                &:nth-child(14n+10) > i {
                    background-position: -585px -3px;
                    max-width: 38px;
                }
                &:nth-child(14n+11) > i {
                    background-position: -172px 10px;
                    max-width: 38px;
                    margin-left: 5px;
                }
                &:nth-child(14n+12) > i {
                    background-position: -270px 10px;
                    max-width: 38px;
                    margin-left: 5px;
                }
                &:nth-child(14n+13)  > i{
                    background-position: -798px 10px;
                }
                &:nth-child(14n+14)  > i{
                    background-position: -660px 15px;
                }
            }
        }

        ul.inf-theeth{
            li{
                &:nth-child(14n+1)  > i {
                    background-position: 54px 5px;
                    margin-left: -5px;
                }
    
                &:nth-child(14n+2) > i {
                    background-position: 220px 5px;
                }

                &:nth-child(14n+3)  > i{
                    background-position: 518px 5px;
                    max-width: 38px;
                    margin-left: 5px;
                }

                &:nth-child(14n+4)  > i{
                    background-position: 592px 5px;
                    max-width: 38px;
                    margin-left: 5px;
                }

                &:nth-child(14n+5) > i {
                    background-position: 732px 5px;
                    max-width: 38px;
                    margin-left: 5px;
                }

                &:nth-child(14n+6) > i {
                    background-position: -80px 5px;
                    max-width: 34px;
                    margin-left: 8px;
                }

                &:nth-child(14n+7)  > i{
                    background-position: -53px 5px;
                    max-width: 34px;
                    margin-left: 8px;
                }

                &:nth-child(14n+8) > i {
                    background-position: 3px 5px;
                    max-width: 34px;
                    margin-left: 8px;
                }
                &:nth-child(14n+9) > i {
                    background-position: -25px 5px;
                    max-width: 34px;
                    margin-left: 8px;
                }
                &:nth-child(14n+10) > i {
                    background-position: 765px 3px;
                    max-width: 38px;
                    margin-left: 5px;
                }
                &:nth-child(14n+11) > i {
                    background-position: -442px 5px;
                    max-width: 38px;
                    margin-left: 5px;
                }
                &:nth-child(14n+12) > i {
                    background-position: -512px 5px;
                    max-width: 38px;
                    margin-left: 5px;
                }
                &:nth-child(14n+13)  > i{
                    background-position: 168px 5px;
                }
                &:nth-child(14n+14)  > i{
                    background-position: 110px 5px;
                    margin-left: 5px;
                }
            }
        }
    }

    .protrusion{
        ul{
            display: flex;
            flex-direction: row;

            li{
                display: inline;
                margin-left:1rem;

                .input-number{
                    width: 65px;
                    margin-left: 5px;
                }
            }
        }
    }
}
.mouse-section{
    
    .input-number{
        width: 60px;
    }
    
    .button-align{
        font-size: 4rem;
        position: absolute;
        top: 42%;
        right: 2rem;
        border: none;
        background-color: transparent;
        color: white;

        &:hover{
            transform: scale(1.2);
            opacity: .8;
            transition: all .1s ease-in-out;
        }
    }
    .mouse-sup{
        margin: 2rem 0 1rem 0;
        min-height: 250px;

        background: url("../../../../assets/images/mouse/upper-arch.png") no-repeat center top;
        background-size: contain;
        .mouse-sup-left{
            min-height: 250px;

            input.bottom-left{
                position: absolute;
                bottom: 8rem;
                right: 10rem;
            }
    
            input.center-left{
                position: absolute;
                bottom: 13rem;
                right: 8rem;
            }
    
            input.top-left{
                position: absolute;
                top: -3rem;
                right: 2rem;
            }
        }

        .mouse-sup-right{
            min-height: 250px;

            input.bottom-right{
                position: absolute;
                bottom: 8rem;
                left: 10rem;
            }
    
            input.center-right{
                position: absolute;
                bottom: 13rem;
                left: 8rem;
            }
    
            input.top-right{
                position: absolute;
                top: -3rem;
                left: 3rem;
            }
        }
    }

    .mouse-inf{
        margin: 1rem 0 2rem 0;
        min-height: 250px;
        background: url("../../../../assets/images/mouse/down-arch.png") no-repeat center bottom;
        background-size: contain;
        .mouse-inf-left{
            min-height: 250px;

            input.bottom-left{
                position: absolute;
                bottom: -3rem;
                right: 1rem;
            }
    
            input.center-left{
                position: absolute;
                bottom: 0rem;
                right: 7rem;
            }
    
            input.top-left{
                position: absolute;
                top: 9rem;
                right: 10rem;
            }
        }

        .mouse-inf-right{
            min-height: 250px;

            input.bottom-right{
                position: absolute;
                bottom: -3rem;
                left: 1rem;
            }
    
            input.center-right{
                position: absolute;
                bottom: 0rem;
                left: 7rem;
            }
    
            input.top-right{
                position: absolute;
                top: 9rem;
                left: 10rem;
            }
        }
    }
}