box-container{
    margin: 2rem;
}

.disabled{
    opacity: .6;
    cursor: default !important;
}

i.arrows{
    font-size: 4rem;
    position: absolute;
    top: 50%;
    cursor: pointer;

    &.arrow-left{
        right: 0;
    }
    &.arrow-right{
        left: 0;
    }
}

.input-number{
    width: 50px;
    height: 35px;
    margin-right: 6px;
    font-size: 12px;
}

.patient-section{
    a{margin: auto;}
    .box-container{
        padding: 1rem 0rem;
        display: flex;
        margin: 0 auto;
    }
    .patient-info{
        display: flex;
        flex-direction: row;
        margin: auto;

        div{
            margin: 5px;
            display: inherit;
            span{
                margin: 5px 10px;
                vertical-align: middle;
                text-align: center;
            }
    
            input{
                float: right;
            }
        }
        
    }
}

.teeth-section{
    .teeth-sup{
        background: url("../../../../assets/images/mouse/upper-theet.png") no-repeat center top;
        min-height: 180px;
        background-size: contain;
        position: relative;
        margin: .5rem auto;
        max-width: 95%;
    }

    .inputs-wrapper{
        position: relative;
        display: flex;
        margin: 5px 0;
        .inputs-container {
            margin: 0 auto;
        }
    }

    .teeth-inf{
        background: url("../../../../assets/images/mouse/down-theet.png") no-repeat center bottom;
        min-height: 180px;
        background-size: contain;
        position: relative;
        margin: .5rem auto;
        max-width: 95%;

        .inputs-container{
            position: absolute;
            top: 0;
            left: 1.5rem;
        }
    }
}
.mouse-section{
    
    .input-number{
        width: 60px;
    }
    
    .button-align{
        float: right;
        margin: 1rem;
    }
    .mouse-sup{
        margin: 2rem 0 1rem 0;
        min-height: 250px;

        background: url("../../../../assets/images/mouse/upper-arch.png") no-repeat center top;
        background-size: contain;
        .mouse-sup-left{
            //background: url("../../../../assets/images/mouse/mouse-sup-left.png") no-repeat right top;
            min-height: 250px;
            //background-size: 25%;

            input.bottom-left{
                position: absolute;
                bottom: 8rem;
                right: 10rem;
            }
    
            input.center-left{
                position: absolute;
                bottom: 13rem;
                right: 8rem;
            }
    
            input.top-left{
                position: absolute;
                top: -3rem;
                right: 2rem;
            }
        }

        .mouse-sup-right{
            //background: url("../../../../assets/images/mouse/mouse-sup-right.png") no-repeat left top;
            min-height: 250px;
            //background-size: 25%;

            input.bottom-right{
                position: absolute;
                bottom: 8rem;
                left: 10rem;
            }
    
            input.center-right{
                position: absolute;
                bottom: 13rem;
                left: 8rem;
            }
    
            input.top-right{
                position: absolute;
                top: -3rem;
                left: 3rem;
            }
        }
    }

    .mouse-inf{
        margin: 1rem 0 2rem 0;
        min-height: 250px;
        background: url("../../../../assets/images/mouse/down-arch.png") no-repeat center bottom;
        background-size: contain;
        .mouse-inf-left{
            //background: url("../../../../assets/images/mouse/mouse-inf-left.png") no-repeat right bottom;
            min-height: 250px;
            //background-size: 25%;

            input.bottom-left{
                position: absolute;
                bottom: -3rem;
                right: 1rem;
            }
    
            input.center-left{
                position: absolute;
                bottom: 0rem;
                right: 7rem;
            }
    
            input.top-left{
                position: absolute;
                top: 9rem;
                right: 10rem;
            }
        }

        .mouse-inf-right{
            //background: url("../../../../assets/images/mouse/mouse-inf-right.png") no-repeat left bottom;
            min-height: 250px;
            //background-size: 25%;

            input.bottom-right{
                position: absolute;
                bottom: -3rem;
                left: 1rem;
            }
    
            input.center-right{
                position: absolute;
                bottom: 0rem;
                left: 7rem;
            }
    
            input.top-right{
                position: absolute;
                top: 9rem;
                left: 10rem;
            }
        }
    }
}