@import '~bootstrap/dist/css/bootstrap.min.css';

@import './scss/_checkbox.scss';

html::before {
    content: ' ';
    display: block;
    background-image: url('./assets/images/background/chair-front-bw.png');
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 0; /* This is pretty important.*/
}

a{
    color: white !important;
    cursor: pointer;

    &:hover{
        transition: all .1s ease-in-out;
        border-bottom: 1px solid white;
        text-decoration: none !important;
    }
}

a.black-link{
    color:#3f3f3f !important;
    cursor: pointer;

    &:hover{
        transition: all .1s ease-in-out;
        border-bottom: 1px solid #3f3f3f;
    }
}

.text-white{
    color: white;
}

.text-black{
    color:#3f3f3f;
}

.search-box{
    width: 95%;
    //margin: 10px auto;
    input[type=text]{
        width: 100%;
    }
    input[type=text] + i.magnifier-icon{
        float: right;
        margin-top: -25px;
        margin-right: 5px;
        /* this is so when you click on the chevron, your click actually goes on the dropdown menu */
        pointer-events: none;
        background-color: rgba(255, 255, 255, 0.7);
        /* everything after this is just to cover up the original arrow */
        /* (for browsers that don't support the syntax used above) */
        padding-right: 5px;
        color: #3f3f3f;
    }
    
    input[type=text] + i.magnifier-icon {
        background-color: transparent !important;
    }
    .magnifier-separator{
        padding-right: 30px;
    }
}

i.fas,
i.far{
    padding: 0 5px;
}
.no-result{
    text-align: center;
    display: block;
}

input.input-custom{
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.7);
    color: #3f3f3f!important;
    padding: 5px 10px;
    z-index: 100;
}

.brand-home{
    width: 50%;
    margin-top: 2rem;
    position: fixed;
}

.box-container{
    background: rgba(230, 224, 224, 0.5);
    border-radius: 2rem;
    padding: 2rem 1rem;
}

.is-invalid{
    border-color: red;
}
.validation-error{
    color: red;
}


/* Modals */
.modal-content{
    border-radius: 6px !important;
    color:#3f3f3f;
}
.modal-dialog{
    min-width: 600px;
}
.modal-open {
    padding-right: 0 !important;
}

.modal-header{
    background-color: #3f3f3f;
    color: white;

    button{
        color: white;
    }
}
.modal fade in {
    padding-right: 0px;
}

.center-content {
    margin-left: 25%;
    margin-right: 25%;
}

.margin-auto {
    margin-left: auto;
    margin-right: auto;
}

.clear {
    clear: both;
}

.modal-body .form-control {
    display: flex;
}

.modal-body form {
    position: relative;
    margin: 0 5%;
    width: 100%;
}

.modal-body .form-group p {
    text-align: center;
    margin-bottom: 1em !important;
    font-size: 1rem !important;;
    letter-spacing: -0.1px;
    
}

.modal-body .form-group i + p {
    text-align: left;
    margin-left: 2rem;
}

.modal-body form label {
    display: flex;
    font-size: 0.8rem;
}

.modal-body .inner-addon {
    position: relative;
    /*width: inherit;*/
}

.modal-footer {
    padding-bottom: 1em;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    margin-top: 1em;
    padding-top: 2em;
    float: right;
    width: 100%;
    border-top: 0; 
}

.modal-footer .modal-buttons {
    float: right;
    width: 100%;
}

i.modal-logo-icon {
    content: url("./assets/images/Logo.png");
    height: 40px;
    width: 40px;
    margin: 0 10px;  
}
.modal-icon {
    position: absolute;
    height: 20px;
    width: 20px;
    margin-left: 0;
    margin-right: 0;   
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #dcdcdc;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    background-color: #a8a8a8;
}

.pdf{
    
    .pdf-logo{
        content: url("./assets/images/logo_black.png");
        height: 40px;
        width: 40px;
        margin: 0 10px; 
    }
    color:#3f3f3f;
    .header{
        margin: 1rem;
        .item-row{
            background-color: white;
            border: 1px solid #3f3f3f;
            padding: 1rem;
            &.title{
                background-color: rgb(44, 93, 152);
                color: white;
                text-align: center;
            }
        }
    }
    
    .grid-container{
        margin: 2rem;
        border: 1px solid #3f3f3f;

        .grid-title{
            background-color: rgb(120, 164, 216);
            text-align: center;
            color: white;
        }
    
        .grid-row{
            background-color: white;

            &.alt{
                background-color: rgb(142, 180, 227);
            }
        }
    }
}
