.mouse-section{
    margin: 0rem 15px 2rem 15px;
    padding: 2rem;

    .input-number{
        width: 70px;
    }

    .mouse-sup{
        margin: 2rem 0;
        min-height: 250px;

        .mouse-sup-left{
            background: url("../../../assets/images/mouse/mouse-sup-left.png") no-repeat right top;
            min-height: 250px;
            //background-size: 25%;

            input.bottom-left{
                position: absolute;
                bottom: 5rem;
                right: 12rem;
            }
    
            input.center-left{
                position: absolute;
                bottom: 12rem;
                right: 10rem;
            }
    
            input.top-left{
                position: absolute;
                top: -3rem;
                right: 1rem;
            }
        }

        .mouse-sup-right{
            background: url("../../../assets/images/mouse/mouse-sup-right.png") no-repeat left top;
            min-height: 250px;
            //background-size: 25%;

            input.bottom-right{
                position: absolute;
                bottom: 5rem;
                left: 12rem;
            }
    
            input.center-right{
                position: absolute;
                bottom: 12rem;
                left: 10rem;
            }
    
            input.top-right{
                position: absolute;
                top: -3rem;
                left: 1rem;
            }
        }
    }

    .mouse-inf{
        margin: -4rem 0 2rem 0;
        min-height: 250px;
        
        .mouse-inf-left{
            background: url("../../../assets/images/mouse/mouse-inf-left.png") no-repeat right bottom;
            min-height: 250px;
            //background-size: 25%;

            input.bottom-left{
                position: absolute;
                bottom: -3rem;
                right: 1rem;
            }
    
            input.center-left{
                position: absolute;
                bottom: 0rem;
                right: 8rem;
            }
    
            input.top-left{
                position: absolute;
                top: 8rem;
                right: 12rem;
            }
        }

        .mouse-inf-right{
            background: url("../../../assets/images/mouse/mouse-inf-right.png") no-repeat left bottom;
            min-height: 250px;
            //background-size: 25%;

            input.bottom-right{
                position: absolute;
                bottom: -3rem;
                left: 1rem;
            }
    
            input.center-right{
                position: absolute;
                bottom: 0rem;
                left: 8rem;
            }
    
            input.top-right{
                position: absolute;
                top: 8rem;
                left: 12rem;
            }
        }
    }
}